.link{
    display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: var(--link-regular-color);
  transition: var(--transition);
   transition: color var(--transition);
}

.link:hover,
.link:focus {
  color: var(--link-active-color);
}

.activeLink {
    composes: link;
  color: var(--link-active-color)
}