.link{ 
    display: inline-block;
    text-align: center;
    width: 50px;
    padding: 4px;
  border-radius: 3px;
  color: var(--regular-color);
  text-decoration: none;
  background-color: var(--link-page-color);
  border: none;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity var(--transition);
}

.link:hover, 
.link:focus{
     opacity: 1;
}