:root{
    --regular-color: #2a363b;
    --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.link{ 
    display: inline-block;
    text-align: center;
    width: 50px;
    padding: 4px;
  border-radius: 3px;
  color: var(--regular-color);
  text-decoration: none;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  transition: var(--transition)

}

.link:hover, 
.link:focus{
     opacity: 1;
}