.button{
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
}

.delete{
    composes: button;
    background-color: red;
}

.create{
    composes:button;
    background-color: green;
}

.update{
    composes:button;
    background-color: yellow;}